.inline-icon {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin: 0 0.2rem;
}

.sun-icon {
  vertical-align: middle;
  height: 1.2em; /* Adjust size as needed */
  width: auto;
} 