
  
<header>

    <!-- Right-Aligned Title in a Separate Div -->
    <div class="title-container">
       <h1 class="heading-1 title-right">
           Maxime Bentho
       </h1>
       <div class="divider-line"></div> <!-- Divider Line Above the Title -->
   </div>
   
   
       <div class="hero">
           <h2 class="heading-2">
               <span class="hover-container"> 
                   <span class="hover-text">A French Amsterdam-based</span>
                   <div class="hover-image">
                       <img src="/public/maxime.jpg" alt="Hover Image">
                   </div> 
               </span> digital product manager with 14+ years of experience.
           </h2>
   
           <h2 class="heading-2">
               I enjoy working at the intersection of multiple disciplines to bring ideas to life
                   <img src="/src/assets/sun.png" alt="Sun Icon" class="sun-icon"> <!-- Added sun icon here -->
               <br><br>
               Recently, I worked at <span class="hover-container hover-dept"> 
                   <span class="hover-text">DEPT®</span>
                   <div class="hover-gif-dept">
                       <img src="/src/assets/dept.gif" alt="DEPT GIF">
                   </div>
               </span>, managing several projects, including AI/ML initiatives.
   
               I also led eCommerce projects for brands like  
               <span class="hover-container">
                   <span class="hover-text">Chanel</span>,
                   <div class="hover-image-brand chanel-image">
                       <img src="/src/assets/chanel.webp" alt="Chanel Image">
                   </div>
               </span>
               
               <span class="hover-container">
                   <span class="hover-text">Koché</span>,
                   <div class="hover-image-brand koche-image">
                       <img src="/src/assets/koche.webp" alt="Koche Image">
                   </div>
               </span>
               
               <span class="hover-container">
                   <span class="hover-text">Etudes Studio.</span>
                   <div class="hover-image-brand etudes-image">
                       <img src="/src/assets/etude.webp" alt="Etudes Image">
                   </div>
               </span>            
               
               Additionally, I handled various mobile projects, especially for Louis Vuitton and 
            <span class="hover-container">
           <span class="hover-text">Rolex</span>
            <div class="hover-image-brand rolex-image">
           <img src="/src/assets/rolex.webp" alt="Rolex Image">
       </div>
   </span>.
               <br><br>
               See a snippet of past projects 
               <span class="hover-container">
                   <span class="hover-text">here</span>
                   <div class="hover-gif">
                       <img src="/src/assets/portofolio.gif" alt="Portfolio GIF">
                   </div>
               </span>.
               <br>
               Click <a href="https://www.dropbox.com/scl/fi/hwazyc8xe84q1qniybzq5/cv-maxime.pdf?rlkey=1nla3kbgo7n2xvrlmsavlh44p&st=6r6pvitr&dl=0" class="underline-link" target="_blank" rel="noopener noreferrer">here</a>
           </span> to see my full experience.
              
               <br><br>
               I am now open for new project ✌🏼
           </h2>
       </div>
   
   <!-- Footer Email Link -->
   <footer class="email-footer">
       <h3 class="footer-email">
           <a href="mailto:m.bentho@gmail.com">➪ Email me ➫</a>
       </h3>
   </footer>
   </header>