<header>

    <!-- Right-Aligned Title in a Separate Div -->
    <div class="title-container">
       <h1 class="heading-1 title-right">
           Maxime Bentho
       </h1>
       <div class="divider-line"></div> <!-- Divider Line Above the Title -->
   </div>
   
   
       <div class="hero">
           <h2 class="heading-2">
               <span class="hover-container"> 
                   <span class="hover-text">A French Amsterdam-based</span>
                   <div class="hover-image">
                       <img src="/maxime.jpg" alt="Hover Image">
                   </div> 
               </span> digital product manager with 14+ years of experience.
           </h2>
   
           <h2 class="heading-2">
               I enjoy working at the intersection of multiple disciplines to bring ideas to life
                   <img src="/noun-sun.svg" alt="Sun Icon" class="sun-icon"> <!-- Added sun icon here -->
               <br><br>
               Recently, I worked at <span class="hover-container hover-dept"> 
                   <span class="hover-text">DEPT®</span>
                   <div class="hover-gif-dept">
                       <img src="/dept.gif" alt="DEPT GIF">
                   </div>
               </span>, managing several projects, including AI/ML initiatives.
   
               I also led eCommerce projects for brands like  
               <span class="hover-container">
                   <span class="hover-text">Chanel</span>,
                   <div class="hover-image-brand chanel-image">
                       <img src="/chanel.webp" alt="Chanel Image">
                   </div>
               </span>
               
               <span class="hover-container">
                   <span class="hover-text">Koché</span>,
                   <div class="hover-image-brand koche-image">
                       <img src="/koche.webp" alt="Koche Image">
                   </div>
               </span>
               
               <span class="hover-container">
                   <span class="hover-text">Etudes Studio.</span>
                   <div class="hover-image-brand etudes-image">
                       <img src="/etude.webp" alt="Etudes Image">
                   </div>
               </span>            
               
               Additionally, I handled various mobile projects, especially for Louis Vuitton and 
            <span class="hover-container">
           <span class="hover-text">Rolex</span>
            <div class="hover-image-brand rolex-image">
           <img src="/rolex.webp" alt="Rolex Image">
       </div>
   </span>.
               <br><br>
               See a snippet of past projects 
               <span class="hover-container">
                   <span class="hover-text">here</span>
                   <div class="hover-gif">
                       <img src="/portofolio.gif" alt="Portfolio GIF">
                   </div>
               </span>.
               <br>
               Click <a href="https://www.figma.com/deck/e0dwTM7DLbpNC42dSOfnwC/Portfolio?node-id=189-216&viewport=-9567%2C30%2C0.44&t=pdToHmKeHVOSa7LB-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1">here</a>
           </span> to see my full portfolio.
              
               <br><br>
               I am now open for new project ✌️
           </h2>
       </div>
   
   <!-- Footer Email Link -->
   <footer class="email-footer">
       <h3 class="footer-email">
           <a href="mailto:m.bentho@gmail.com">➪ Email me ➫</a>
       </h3>
   </footer>
   </header>

<style>
.sun-icon {
    width: 45px; /* Adjust size as needed */
    height: 45px;
    display: inline; /* Ensure it stays inline */
    vertical-align: middle; /* Aligns the icon with the text */
    /* Add any additional styling needed */
}
</style>